<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>OpenSDI-Manager2 Application</display-name>

	<context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>opensdi2.root</param-value>
    </context-param>

	<!-- Service box properties -->
	<context-param>
		<description>location for the property file used in this application</description>
		<param-name>app.properties</param-name>
		<param-value>/servicebox.properties</param-value>
	</context-param>
	
    <!--  spring context loader -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/mvc/*</url-pattern>
	</servlet-mapping>

	<!-- REST Facade -->
	<servlet>
		<servlet-name>rest-facade</servlet-name>
		<servlet-class>it.geosolutions.opensdi2.servlet.RestFacade</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>rest-facade</servlet-name>
		<url-pattern>/facade/*</url-pattern>
	</servlet-mapping>

	<!-- pick up all spring application contexts -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>
    <!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
 
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--======================-->
	<!-- Service box servlets -->
	<!--======================-->

	<!-- Save Servlet -->
	<servlet>
		<servlet-name>HTTPWebGISSave</servlet-name>
		<servlet-class>it.geosolutions.servicebox.HTTPWebGISSave</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HTTPWebGISSave</servlet-name>
		<url-pattern>/HTTPWebGISSave/*</url-pattern>
	</servlet-mapping>

	<!-- File Upload Servlet -->
	<servlet>
		<servlet-name>HTTPWebGISFileUpload</servlet-name>
		<servlet-class>it.geosolutions.servicebox.HTTPWebGISFileUpload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HTTPWebGISFileUpload</servlet-name>
		<url-pattern>/HTTPWebGISFileUpload/*</url-pattern>
	</servlet-mapping>

	<!-- File Download Servlet -->
	<servlet>
		<servlet-name>HTTPWebGISFileDownload</servlet-name>
		<servlet-class>it.geosolutions.servicebox.HTTPWebGISFileDownload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HTTPWebGISFileDownload</servlet-name>
		<url-pattern>/HTTPWebGISFileDownload/*</url-pattern>
	</servlet-mapping>

	<!-- FileDownloader Servlet -->
	<servlet>
		<servlet-name>FileDownloader</servlet-name>
		<servlet-class>it.geosolutions.servicebox.FileDownloader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileDownloader</servlet-name>
		<url-pattern>/FileDownloader/*</url-pattern>
	</servlet-mapping>

	<!-- FileUploader Servlet -->
	<servlet>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>it.geosolutions.servicebox.FileUploader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUploader</servlet-name>
		<url-pattern>/FileUploader/*</url-pattern>
	</servlet-mapping>

	<!-- FileUploader Servlet -->
	<servlet>
		<servlet-name>KMZUploader</servlet-name>
		<servlet-class>it.geosolutions.servicebox.geoservices.KMZUploader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>KMZUploader</servlet-name>
		<url-pattern>/KMZUploader/*</url-pattern>
	</servlet-mapping>

	<!-- Upload Canvas Servlet -->
	<servlet>
		<servlet-name>UploadCanvas</servlet-name>
		<servlet-class>it.geosolutions.servicebox.UploadCanvas</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadCanvas</servlet-name>
		<url-pattern>/UploadCanvas</url-pattern>
	</servlet-mapping>

	<!-- Upload Canvas Servlet -->
	<servlet>
		<servlet-name>SHP2GeoJSON</servlet-name>
		<servlet-class>it.geosolutions.servicebox.SHP2GeoJSON</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SHP2GeoJSON</servlet-name>
		<url-pattern>/SHP2GeoJSON</url-pattern>
	</servlet-mapping>

</web-app>