# Base configuration for OpenSDI-Manager
baseConfig.baseFolder=/tmp/test

# Data Source
openSDI2DataSource.driverClassName=org.postgresql.Driver
openSDI2DataSource.url=jdbc:postgresql://localhost:5432/mariss
openSDI2DataSource.username=mariss
openSDI2DataSource.password=mariss

# geostore wrapper
urlFacade.urlsWrapped["geostore"]=http://localhost:9191/geostore

# file upload temp folder
fileUploadService.temporaryFolder=/opt/tomcat/opensdi2-manager/temp/

################################################
## service manager folder                     ## 
## (needs -PserviceManager maven profile)     ##
################################################
#serviceManagerConfig.baseFolder=/share/ftp/

# login control
geoStoreAuthenticationProvider.geoStoreRestURL=http://localhost:9191/geostore/rest

################################################
## user interceptor. Disabled by default      ##
## (run with -PuserInterception maven profile) #
################################################
userCreationInterceptor.enabled=true
userCreationInterceptor.interceptedURL=http://localhost:9191/geostore/rest/users/
userCreationInterceptor.notWrappedUrls[0]=http://localhost:9191/geostore/rest/extjs/

# Path that contains the scripts
userInterceptor1.libPath=/opt/ldap_manager/scripts

# Libraries path used inside the script. You can use <code>echo $PATH</code> executed in bash
userInterceptor1.systemPath=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin
userInterceptor1.createUserScript=/opt/ldap_manager/scripts/create_user.sh
userInterceptor1.updateUserScript=/opt/ldap_manager/scripts/modify_user.sh
userInterceptor1.deleteUserScript=/opt/ldap_manager/scripts/remove_user.sh
userInterceptor1.passwordEncoding=

# Geostore client credentials for the user integration
geoStoreClient.geostoreRestUrl=http://localhost:9191/geostore/rest
geoStoreClient.username=admin
geoStoreClient.password=theslap
#

# LDAP integration
contextSource.url=ldap://84.33.2.24:389/dc=mariss,dc=egeos,dc=it
contextSource.userDn=uid=admin,ou=people,dc=mariss,dc=egeos,dc=it
contextSource.password=theslap

# User creation interceptor for GeoStore
userGroupService.LDAP_USER_BASE_SEARCH=
userGroupService.LDAP_PROPERTIES_SEARCH=cn,uid
userGroupService.LDAP_CN_PROPERTY=cn
userGroupService.LDAP_UID_PROPERTY=uid

# Users in group SN-MANAGER work as ADMIN
userInterceptor2.userAdminGroups[0]=cn=sn-manager,ou=groups
##########################################
##        End of user interceptor.      ##
##########################################