<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:task="http://www.springframework.org/schema/task"
 xmlns:util="http://www.springframework.org/schema/util"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	
	<!-- GeoStore REST Client -->
	<bean id="administratorGeoStoreClient"
		class="it.geosolutions.geostore.services.rest.AdministratorGeoStoreClient">
		<property name="geostoreRestUrl" value="http://localhost/geostore/rest/"></property>
		<property name="username" value="admin"></property>
		<property name="password" value="admin"></property>
	</bean>

	
   
 	<!-- 
 	** 	task scheduling  **
 	NOTE: the cron attribute will be overridden using cron.expression
 	   
 	  -->
    
    <import resource="classpath*:/mailConfigurationContext-test.xml"/>
</beans>