<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true" create-session="never">
		<http-basic  entry-point-ref="restAuthenticationEntryPoint"/>
		<anonymous />
		<intercept-url pattern="/mvc/admin/**" access="ROLE_ADMIN" />
	</http>
	
	<beans:bean id="restAuthenticationEntryPoint" class="it.geosolutions.opensdi2.security.RestAuthenticationEntryPoint" >
		
	</beans:bean>
	
    <!-- This is used to reply authentication requests with 401  -->
 	
    <authentication-manager>
        <authentication-provider ref='geoStoreAuthenticationProvider'/>
    </authentication-manager>
	 <beans:bean id="geoStoreAuthenticationProvider" class="it.geosolutions.geostore.services.security.GeoStoreAuthenticationProvider">
	 <!-- externalize using Property Override Configurer -->
    	<beans:property name="geoStoreRestURL" value="http://localhost/geostore/rest/"></beans:property>
    	<beans:property name="allowedRoles">
    			<beans:list>
					<beans:value>ADMIN</beans:value>
					<beans:value>USER</beans:value>
				</beans:list>
    	</beans:property>
    </beans:bean>


</beans:beans>