<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
            http://cxf.apache.org/core                      http://cxf.apache.org/schemas/core.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">
      
   	<context:annotation-config/>
      
    <bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="order" value="10"/>
        <property name="locations">
            <list>
                <value>classpath*:opensdi-config-ovr.properties</value>
                <!-- used for externalized override -->
                <value>${opensdi-ovr:dummy}</value>
                <value>file:///${OPENSDI_CONFIG_FILE:dummy}</value>    
            </list>
        </property>
    </bean>

    <bean id="openSdiManagerConfigExtensions" class="it.geosolutions.opensdi2.config.OpenSDIManagerConfigExtensions" />
    
	<bean id="openSdiManagerConfig" class="it.geosolutions.opensdi2.config.OpenSDIManagerConfigImpl" />
	
    <bean id="openSdiManagerConfigHijackBeforeMethodBean" class="it.geosolutions.opensdi2.config.aop.OpenSDIManagerConfigBeforeMethod" />
    <bean id="openSdiManagerConfigHijackAroundMethodBean" class="it.geosolutions.opensdi2.config.aop.OpenSDIManagerConfigAroundMethod" />
    
    <bean id="baseConfigProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="openSdiManagerConfig" />
 
		<property name="interceptorNames">
			<list>
			    <!-- You can put here any interceptor you need -->
				<value>openSdiManagerConfigHijackBeforeMethodBean</value>
				<value>openSdiManagerConfigHijackAroundMethodBean</value>
			</list>
		</property>
	</bean>

    <!-- REST Plugins -->
    <bean id="gbRestAPIPlugin" class="it.geosolutions.opensdi2.rest.plugin.RestGeoBatchPlugin" />
</beans>
