<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
            http://cxf.apache.org/core                      http://cxf.apache.org/schemas/core.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">

    <!--=====================================================================-->
    <!-- DB related stuff -->
    <!--=====================================================================-->

    <import resource="applicationContext-geostoreDatasource.xml"/>
    
    <!--=====================================================================-->
    
    <bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="order" value="10"/>
        <property name="locations">
            <list>
                <value>classpath*:opensdi-config-ovr.properties</value>
                <!-- used for externalized override -->
                <value>${opensdi-ovr:dummy}</value>
                <value>file:///${OPENSDI_CONFIG_FILE:dummy}</value>    
            </list>
        </property>
    </bean>
		
</beans>
