<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire="byName">
    <context:annotation-config/>
    <import resource="datasource.xml"/>
    <bean id="searchProcessor" class="com.googlecode.genericdao.search.jpa.JPASearchProcessor">
        <constructor-arg ref="metadataUtil"/>
    </bean>
    <bean id="metadataUtil" class="com.googlecode.genericdao.search.jpa.hibernate.HibernateMetadataUtil"
          factory-method="getInstanceForEntityManagerFactory">
        <constructor-arg ref="opensdiEntityManagerFactory"/>
    </bean>
    <bean id="plotDao" class="it.geosolutions.opensdi2.persistence.PlotDaoImpl">
        <property name="searchProcessor" ref="searchProcessor"/>
    </bean>
    <bean id="plotService" class="it.geosolutions.opensdi2.service.PlotService"/>
    <bean id="plotModuleHerbaceousDao" class="it.geosolutions.opensdi2.persistence.PlotModuleHerbaceousDaoImpl">
        <property name="searchProcessor" ref="searchProcessor"/>
    </bean>
    <bean id="plotModuleHerbaceousService" class="it.geosolutions.opensdi2.service.PlotModuleHerbaceousService"/>
    <bean id="herbaceousRelativeCoverDao" class="it.geosolutions.opensdi2.persistence.HerbaceousRelativeCoverDaoImpl">
        <property name="searchProcessor" ref="searchProcessor"/>
    </bean>
    <bean id="herbaceousRelativeCoverService" class="it.geosolutions.opensdi2.service.HerbaceousRelativeCoverService"/>
    <bean id="woodyImportanceValueDao" class="it.geosolutions.opensdi2.persistence.WoodyImportanceValueDaoImpl">
        <property name="searchProcessor" ref="searchProcessor"/>
    </bean>
    <bean id="woodyImportanceValueService" class="it.geosolutions.opensdi2.service.WoodyImportanceValueService"/>
</beans>