<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
            http://cxf.apache.org/core                      http://cxf.apache.org/schemas/core.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">
    
    <bean id="baseConfig" class="it.geosolutions.opensdi2.config.OpenSDIManagerConfigImpl">
        <property name="baseFolder" value="/tmp"/>
    </bean>
	
	<context:component-scan base-package="it.geosolutions.opensdi2.mvc" />

	<bean id="multipartResolver"
	 class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
		
</beans>
